{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Telephely list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Partner</th>
                <th>Név</th>
                <th>Irányítószám</th>
                <th>Település</th>
                <th>Köztér</th>
                <th>Házszám</th>
                <th>Telefon</th>
                <th>Fax</th>
                <th>Mobil</th>
                <th>Email</th>
                <th>Megjegyzés</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('telephely_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.partner }}</td>
                <td>{{ entity.nev }}</td>
                <td>{{ entity.irsz }}</td>
                <td>{{ entity.telepules }}</td>
                <td>{{ entity.kozter }}</td>
                <td>{{ entity.hazsz }}</td>
                <td>{{ entity.telefon }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.mobil }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.megjegyzes }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('telephely_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('telephely_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('telephely_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    {% endblock %}
