{% extends '::base.html.twig' %}

{% block body -%}
    <div class="body-container">
        <h2>Telephely lista</h2>
        <div class="table-responsive">
            <table class="records_list table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Név</th>
                        <th>Partner</th>              
                        <th>Cím</th>               
                        <th>Telefon</th>
                        <th>Fax</th>
                        <th>Mobil</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td><a href="{{ path('telephely_show', { 'id': entity.id }) }}">{{ entity.nev }}</a></td>
                            <td>{{ entity.partner }}</td>               
                            <td>{{ entity.irsz }} {{ entity.telepules }} {{ entity.kozter }} {{ entity.hazsz }}</td>
                            <td>{{ entity.telefon }}</td>
                            <td>{{ entity.fax }}</td>
                            <td>{{ entity.mobil }}</td>
                            <td>{{ entity.email }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('telephely_show', { 'id': entity.id }) }}">Részletek</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('telephely_edit', { 'id': entity.id }) }}">Szerkesztés</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <ul>
            <li>
                <a href="{{ path('telephely_new') }}">
                    Új hozzáadása
                </a>
            </li>
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
