{% extends '::base.html.twig' %}

{% block title %}Telephely - részletek{% endblock %}
{% block body -%}
    <div class="body-container">
        <h2>Telephely</h2>
        <div class="body-container">
            <div class="table-responsive">
                <table class="record_properties table-striped table-condensed table-bordered">
                    <tbody>
                        <tr>
                            <th>Partner</th>
                            <td>{{ entity.partner }}</td>
                        </tr>
                        <tr>
                            <th>Név</th>
                            <td>{{ entity.nev }}</td>
                        </tr>
                        <tr>
                            <th>Irányítószám</th>
                            <td>{{ entity.irsz }}</td>
                        </tr>
                        <tr>
                            <th>Település</th>
                            <td>{{ entity.telepules }}</td>
                        </tr>
                        <tr>
                            <th>Közterület</th>
                            <td>{{ entity.kozter }}</td>
                        </tr>
                        <tr>
                            <th>Házszám</th>
                            <td>{{ entity.hazsz }}</td>
                        </tr>
                        <tr>
                            <th>Telefon</th>
                            <td>{{ entity.telefon }}</td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>{{ entity.fax }}</td>
                        </tr>
                        <tr>
                            <th>Mobil</th>
                            <td>{{ entity.mobil }}</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>{{ entity.email }}</td>
                        </tr>
                        <tr>
                            <th>Alapértelmezett</th>
                            <td>{{ entity.alapertelmezett ? 'Igen' : 'Nem' }}</td>
                        </tr>
                        <tr>
                            <th>Megjegyzes</th>
                            <td>{{ entity.megjegyzes }}</td>
                        </tr>
                        <tr>
                            <th>Létrehozva</th>
                            <td>{{ entity.letrehozva|date }}</td>
                        </tr>
                        <tr>
                            <th>Létrehozó</th>
                            <td>{{ entity.letrehozo }}</td>
                        </tr>
                        <tr>
                            <th>Módosítva</th>
                            <td>{{ entity.modositva|date }}</td>
                        </tr>
                        <tr>
                            <th>Módosíto</th>
                            <td>{{ entity.modosito }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul class="record_actions">
            <li>
                <a href="{{ path('telephely') }}">
                    Vissza a listához
                </a>
            </li>
            <li>
                <a href="{{ path('telephely_edit', { 'id': entity.id }) }}">
                    Szerkeszt
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
    </div>
{% endblock %}
