{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Telephely</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Partner</th>
                <td>{{ entity.partner }}</td>
            </tr>
            <tr>
                <th>Nev</th>
                <td>{{ entity.nev }}</td>
            </tr>
            <tr>
                <th>Irsz</th>
                <td>{{ entity.irsz }}</td>
            </tr>
            <tr>
                <th>Telepules</th>
                <td>{{ entity.telepules }}</td>
            </tr>
            <tr>
                <th>Kozter</th>
                <td>{{ entity.kozter }}</td>
            </tr>
            <tr>
                <th>Hazsz</th>
                <td>{{ entity.hazsz }}</td>
            </tr>
            <tr>
                <th>Telefon</th>
                <td>{{ entity.telefon }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ entity.fax }}</td>
            </tr>
            <tr>
                <th>Mobil</th>
                <td>{{ entity.mobil }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Megjegyzes</th>
                <td>{{ entity.megjegyzes }}</td>
            </tr>
            <tr>
                <th>Letrehozva</th>
                <td>{{ entity.letrehozva }}</td>
            </tr>
            <tr>
                <th>Letrehozo</th>
                <td>{{ entity.letrehozo }}</td>
            </tr>
            <tr>
                <th>Modositva</th>
                <td>{{ entity.modositva }}</td>
            </tr>
            <tr>
                <th>Modosito</th>
                <td>{{ entity.modosito }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('telephely') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('telephely_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
