{% extends '::base.html.twig' %}

{% block body -%}
    <div class="body-container">
        <h2>Partnerek</h2>
        <div class="table-responsive">
            <table class="records_list table-striped table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Cégnév</th>
                        <th>Név</th>
                        <th>Partnertípus</th>
                        <th>E-mail</th>
                        <th>Székhely cím</th>          
                        <th>Telefon</th>
                        <th>Fax</th>
                        <th>Mobil</th>             
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in pagination %}
                        <tr>
                            <td><a href="{{ path('partner_show', { 'id': entity.id }) }}">{{ entity.cegnev }}</a></td>
                            <td>{{ entity.vezeteknev }} {{ entity.keresztnev }}</td>
                            <td>{{ entity.partnertipus }}</td>
                            <td>{{ entity.email }}</td>
                            <td>{{ entity.szekhelyCimIrsz }} {{ entity.szekhelyCimTelepules }} {{ entity.szekhelyCimKozter }} {{ entity.szekhelyCimIhazsz }}</td>
                            <td>{{ entity.telefon }}</td>
                            <td>{{ entity.fax }}</td>
                            <td>{{ entity.mobil }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('partner_show', { 'id': entity.id }) }}">Részletek</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('partner_edit', { 'id': entity.id }) }}">Szerkesztés</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a href="{{ path('partner_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
