<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap.no-icons.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/feladat/fancybox/jquery.fancybox.css') }}" type="text/css" media="screen" />
            
            <link href="{{ asset('bundles/feladat/css/form.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/feladat/css/layout.css') }}" rel="stylesheet" type="text/css" />    
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block menu %}
            <div class="navbar navbar-fix-top">
                <div class="navbar-inner">
                    {{ knp_menu_render('FeladatBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'FeladatBundle:Menu:menu.html.twig'}) }}
                </div>
            </div>
        {% endblock %}
        {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('/bundles/feladat/fancybox/jquery.fancybox.pack.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/bundles/feladat/js/checkRequired.js') }}"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% endblock %}
</body>
</html>
