{% extends '::base.html.twig' %}

{% block title %}Bejelentkezés{% endblock %}
{#{% form_theme form 'FeladatBundle:Form:fields.html.twig'%}#}
{% block menu %}{% endblock %}
{% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="login-container">
            <div class="login-content">
                {{ form_start(form, {'action': path('login_check'), 'method': 'POST'}) }} 
                {{ form_widget(form.username) }}
                {{ form_widget(form.password) }}
                {{ form_widget(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}
