{% extends '::base.html.twig' %}

{% block title %}Bejelentkezés{% endblock %}
{#{% form_theme form 'FeladatBundle:Form:fields.html.twig'%}#}
{% block menu %}{% endblock %}
{% block body %}


    <div class="login-container">
        {% if error %}
            <div class="alert alert-danger">Hibás felhasználónév, vagy jelszó!</div>
        {% endif %}
        <div class="login-content">
            {{ form_start(form, {'action': path('login_check'), 'method': 'POST'}) }} 
            {{ form_widget(form.username) }}
            {{ form_widget(form.password) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
